node_modules/
cypress/screenshots/project.spec.js/5 - Adicione um botão com id=criar-tarefa e, ao clicar nesse botão, um novo item deverá ser criado ao final da lista e o texto do input deve ser limpo -- Será verificada a existência de um elemento do tipo `button` com o (failed).png
cypress/screenshots/project.spec.js/7 - Clicar em um item da lista deve alterar a cor de fundo do item para cinza rgb(128,128,128) -- Será verificado que, ao se clicar em um item da lista, ele passa a ter o estilo CSS `background-color rgb(128, 128, 128)` (failed).png
cypress/screenshots/project.spec.js/8 - Não deve ser possível selecionar mais de um elemento da lista ao mesmo tempo -- Será verificado que, quando um elemento da lista é selecionado, o elemento selecionado previamente deixa de sê-lo. Isso é verificado atr (failed).png
cypress/screenshots/project.spec.js/9 - Clicar duas vezes em um item, faz com que ele seja riscado, indicando que foi completo. Deve ser possível desfazer essa ação clicando novamente duas vezes no item -- Será verificado que a ação pedida é disparada medi (failed).png
cypress/screenshots/project.spec.js/10 - Adicione um botão com id=apaga-tudo que quando clicado deve apagar todos os itens da lista -- Será verificado que existe um elemento `button` com o id `apaga-tudo` (failed).png
cypress/screenshots/project.spec.js/10 - Adicione um botão com id=apaga-tudo que quando clicado deve apagar todos os itens da lista -- Será verificado que, dado que uma lista possui tarefas, um clique no botão a deixa vazia (failed).png
cypress/screenshots/project.spec.js/11 - Adicione um botão com id=remover-finalizados que quando clicado remove somente os elementos finalizados da sua lista -- Será verificado que existe um elemento `button` com o id `remover-finalizados` (failed).png
cypress/screenshots/project.spec.js/11 - Adicione um botão com id=remover-finalizados que quando clicado remove somente os elementos finalizados da sua lista -- Será verificado que, ao clicar no botão, todos os elementos marcados como feitos são removidos  (failed).png
cypress/screenshots/project.spec.js/12 - Adicione um botão com id=salvar-tarefas que salve o conteúdo da lista. Se você fechar e reabrir a página, a lista deve continuar no estado em que estava -- Será verificado que existe um elemento `button` com o id `s (failed).png
cypress/screenshots/project.spec.js/12 - Adicione um botão com id=salvar-tarefas que salve o conteúdo da lista. Se você fechar e reabrir a página, a lista deve continuar no estado em que estava -- Será verificado que, quando a lista tem vários elementos, a (failed).png
cypress/screenshots/project.spec.js/13 - Adicione dois botões, um com id=mover-cima e outro com id=mover-baixo, que permitam mover o item selecionado para cima ou para baixo na lista de tarefas -- _Caso especial!_ Será verificado que, caso se tente subir o (failed).png
cypress/screenshots/project.spec.js/13 - Adicione dois botões, um com id=mover-cima e outro com id=mover-baixo, que permitam mover o item selecionado para cima ou para baixo na lista de tarefas -- Será verificada a existência de dois elementos `button`, um (failed).png
cypress/screenshots/project.spec.js/13 - Adicione dois botões, um com id=mover-cima e outro com id=mover-baixo, que permitam mover o item selecionado para cima ou para baixo na lista de tarefas -- Será verificado que um elemento que esteja selecionado deve (failed).png
cypress/screenshots/project.spec.js/13 - Adicione dois botões, um com id=mover-cima e outro com id=mover-baixo, que permitam mover o item selecionado para cima ou para baixo na lista de tarefas -- Será verificado que, caso algum elemento esteja finalizado, (failed).png
cypress/screenshots/project.spec.js/13 - Adicione dois botões, um com id=mover-cima e outro com id=mover-baixo, que permitam mover o item selecionado para cima ou para baixo na lista de tarefas -- Será verificado que, caso nenhum elemento esteja selecionad (failed).png
cypress/screenshots/project.spec.js/13 - Adicione dois botões, um com id=mover-cima e outro com id=mover-baixo, que permitam mover o item selecionado para cima ou para baixo na lista de tarefas -- Será verificado que, dado que diversos elementos foram acre (failed).png
cypress/screenshots/project.spec.js/14 - Adicione um botão com id=remover-selecionado que, quando clicado, remove o item selecionado -- Será verificada a presença de um elemento `button` com um id `remover-selecionado` (failed).png
cypress/screenshots/project.spec.js/14 - Adicione um botão com id=remover-selecionado que, quando clicado, remove o item selecionado -- Será verificado que, no clicar no botão, somente o elemento selecionado é removido (failed).png
cypress/reports/mochawesome.json
