* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(254 , 249 , 239);
  font-size: 20px;
  font-family: 'Baloo Tammudu 2', cursive;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.header {
  text-align: center;
  margin: 0 0 10px;
}

.header h1 {
  font-weight: 550;
  color: rgb(40 , 146 , 184);
  font-size: 2.5em;
}

#lista-tarefas li {
  cursor: pointer;
  user-select: none;
}

.task {
  border: 2px solid transparent;
}

.task:hover {
  background-color: rgb(85 , 85 , 85);
}

.selected {
  background-color: gray;
  border-radius: 4%;
}

.completed {
  text-decoration: line-through solid black;
}

.main {
  padding: 0 20px;
  border: 4px double rgb(254 , 249 , 239);
  background-color: rgb(255 , 203 , 119);
  color: rgb(20 , 20 , 20);
  box-shadow: 6px 8px 5px gray;
}

.main button {
  cursor: pointer;
  padding: 4px;
  border: 3px outset;
  border-radius: 4%;
  font-family: Roboto Mono, monospace;
  user-select: none;
}

.tasks-session label {
  font-size: 18px;
  color: rgb(85 , 85 , 85);
  display: flex;
  justify-content: start;
  height: 25px;
}

.top-btns {
  display: flex;
  justify-content: space-between;
  margin: 0 0 3px;
}

.top-btns input {
  width: 60%;
  font-size: 20px;
  padding: 4px;
  border: 2px solid rgb(48 , 48 , 48);
}

.tasks-board {
  display: flex;
  justify-content: start;
  background-color: rgb(255 , 203 , 119);
  border: 4px groove rgb(254 , 249 , 239);
}

#lista-tarefas {
  margin: 20px 0 0 40px;
}

#criar-tarefa {
  background-color: rgb(23 , 195 , 178);
  border-color: rgb(23 , 195 , 178);
}

#criar-tarefa:hover {
  background-color: rgb(20 , 172 , 157);
  border-color: rgb(20 , 172 , 157);
}

#criar-tarefa:active {
  border-style: inset;
  background-color: rgb(23 , 195 , 178);
  border-color: rgb(20 , 172 , 157);
}

.up-down {
  float: right;
}

.up-down button {
  font-size: 25px;
}

.remove-btns button {
  background-color: rgb(254 , 109 , 115);
  border-color: rgb(254 , 109 , 115);
}

.remove-btns button:hover {
  background-color: rgb(254 , 84 , 91);
  border-color: rgb(254 , 84 , 91);
}

.remove-btns button:active {
  background-color: rgb( 254 , 109 , 115);
  border-style: inset;
  border-color: rgb(254 , 84 , 91);
}
